<div class="container form-horizontal">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="lead">Signup</h1>
            <form method="post" ng-submit="signUpUser()">
                First Name<input type="text" name="first_name" ng-model="userData.first_name" class="form-control"><br/>
                Last Name<input type="text" name="last_name" ng-model="userData.last_username" class="form-control"><br/>
                Email Address<input type="text" name="email_address" ng-model="userData.password" class="form-control"><br/>
                Password<input type="password" name="password" ng-model="userData.name" class="form-control"><br/>
                <button type="submit" class="btn btn-danger form-control">Signup</button>
            </form>
        </div>
    </div> 
</div>