<div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          
          <div class="row" ng-show="has_cls">
            <div ng-class="resizePanel()" ng-repeat="class in classes_taught">
                <div class="panel-heading">
                    {{class.class_code}}
                </div>
                <div class="panel-body">
                    <p>{{class.class_name}}</p> 
                    <p><a class="btn btn-xs btn-success" href="#/class/{{class._id}}" role="button" ng-click="clearTaught()">Visit &raquo;</a></p>
                </div>
            </div><!--/span-->
          </div><!--/row-->
          
           <div class="row" ng-show="!has_cls">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Hi {{userData.first_name}} 
                </div>
                <div class="panel-body">
                    <p>You are currently not teaching any classes.</p> 
                    <p><a class="btn btn-xs btn-success" href="" 
                          data-toggle="modal" data-target="#instructorChoices" role="button">
                            <span class="glyphicon glyphicon-plus"></span> Select classes</a></p>
                </div>
            </div><!--/span-->
          </div><!--/row-->


        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <div class="panel-group" id="accordion">
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                          <span class="glyphicon glyphicon-user"></span> Profile
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
      
                        <div class="row profile">
                        <div class="col-md-11">
                          <div class="profile-sidebar">
                            <!-- SIDEBAR USERPIC -->
                            <div class="profile-userpic">
                                <img src="/images/admin/giddy.jpg" class="img-responsive" alt="<span class='glyphicon glyphicon-user'></span>">
                            </div>
                            <!-- END SIDEBAR USERPIC -->
                            <!-- SIDEBAR USER TITLE -->
                            <div class="profile-usertitle">
                              <div class="profile-usertitle-name text-center"><br/>
                                {{ userData.first_name + ' ' + userData.last_name }}
                              </div><br/>
                              <div class="text-center">
                                  <a class="btn btn-xs btn-danger">{{userData.user_type}}</a>
                              </div>
                            </div>
                            <!-- END SIDEBAR USER TITLE -->
                            
                            <!-- SIDEBAR MENU -->
                            <div class="profile-usermenu">
                              <ul class="nav">
                                <li class="active">
                                  <a href="#">
                                  <i class="glyphicon glyphicon-home"></i>
                                  Overview </a>
                                </li>
                                <li>
                                  <a href="" data-toggle='modal' data-target='#accountSettings'>
                                  <i class="glyphicon glyphicon-user"></i>
                                  Account Settings </a>
                                </li>
                                <li>
                                  <a href="" target="_blank">
                                  <i class="glyphicon glyphicon-ok"></i>
                                  Tasks </a>
                                </li>
                                <li>
                                  <a href="">
                                  <i class="glyphicon glyphicon-flag"></i>
                                  Help </a>
                                </li>
                              </ul>
                            </div>
                            <!-- END MENU -->
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                          <span class="glyphicon glyphicon-book"></span> Classes
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <ul class="nav">
                        <li class="active">
                          <a href="" data-toggle='modal' data-target='#instructorChoices'>
                          <i class="glyphicon glyphicon-plus"></i>
                          Add Classes </a>
                        </li>
                         <li class="active">
                          <a href="" data-toggle='modal' data-target='#instructorRemoveClasses'>
                          <i class="glyphicon glyphicon-minus-sign"></i>
                          Remove Classes </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                
              </div>
          </div>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/.container-->

    <!--Modal that contains the form to edit class details-->
        <div ng-controller="adminController" class="modal fade" id="editClassForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title text-center" id="myModalLabel">Edit Class</h4>
                </div>
                <div class="modal-body">
                    <div class="container form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <form method="post" ng-submit="signUpAdmin()">
                                    Class Code<input type="text" name="class_code" ng-model="userData.first_name" class="form-control"><br/>
                                    Class Name<input type="text" name="class_name" ng-model="userData.last_name" class="form-control"><br/>
                                    Class Duration<input type="text" name="class_duration" ng-model="userData.email_address" class="form-control"><br/>
                                    Start-time<input type="type" name="class_time" ng-model="userData.password" class="form-control"><br/>
                                    Lecturer<input type="password" name="password" ng-model="userData.password" class="form-control"><br/>
                                    <button type="submit" id="submitBtn" class="btn btn-danger">Submit</button>
                                </form>
                            </div>
                        </div> 
                    </div>                    
                </div>
              </div>
            </div>
            <script>
                
                //triggered when modal is about to be shown
                $('#editClassForm').on('show.bs.modal', function(e) {

                    //get data-id attribute of the clicked element
                    var classId = $(e.relatedTarget).data('id');
                    
                    //populate the textbox
                    $(e.currentTarget).find('input[name="class_code"]').val(classId.class_code);
                    $(e.currentTarget).find('input[name="class_name"]').val(classId.class_name);
                    $(e.currentTarget).find('input[name="class_duaration"]').val(classId.class_duration);
                    $(e.currentTarget).find('input[name="class_time"]').val(classId.class_time);
                });
                
                $('#submitBtn').click(function(){ $('#editClassForm').modal('hide'); });
            </script>
        </div>
    
    <!--Modal that contains the form to add a new class-->
        <div ng-controller="adminController" class="modal fade" id="newClass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title text-center" id="myModalLabel">New Class</h4>
                </div>
                <div class="modal-body">
                    <div class="container form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <form method="post" ng-submit="newClass()">
                                    Class Code<input type="text" name="class_code" ng-model="classData.class_code" class="form-control"><br/>
                                    Class Name<input type="text" name="class_name" ng-model="classData.class_name" class="form-control"><br/>
                                    Class Duration<input type="text" name="class_duration" ng-model="classData.class_duration" class="form-control"><br/>
                                    Start-time<input type="type" name="class_time" ng-model="classData.class_time" class="form-control"><br/>
                                    Class Venue<input type="text" name="class_venue" ng-model="classData.class_venue" class="form-control"><br/>
                                    <button type="submit" id="submitClassBtn" class="btn btn-danger">Submit</button>
                                </form>
                            </div>
                        </div> 
                    </div>                    
                </div>
              </div>
            </div>
            <script>
                $('#submitClassBtn').click(function(){ $('#newClass').modal('hide'); });
            </script>
        </div>
    
    
    <!--Modal that contains the form to edit account settings-->
        <div ng-controller="adminController" class="modal fade" id="accountSettings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header success">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title text-center" id="myModalLabel">Change Password</h4>
                </div>
                <div class="modal-body">
                    <div class="container form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <form method="post" ng-submit="changePassword()">
                                    Old Password<input type="password" name="old_password" ng-model="adminData.old_password" class="form-control"><br/>
                                    New Password<input type="password" name="new_password" ng-model="adminData.new_password" class="form-control"><br/>
                                    Confirm New Password<input type="password" name="conf_password" class="form-control"><br/>
                                    <button type="submit" id="submitChangesBtn" class="btn btn-danger">Confirm</button>
                                </form>
                            </div>
                        </div> 
                    </div>                    
                </div>
              </div>
            </div>
            <script>
             
                $('#submitChangesBtn').click(function(){ $('#accountSettings').modal('hide'); });
            </script>
        </div>
    
    <!--Modal that contains the form to edit account settings-->
        <div ng-controller="adminController" class="modal fade" id="noClasses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header success">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title text-center" id="myModalLabel">Change Password</h4>
                </div>
                <div class="modal-body">
                    <div class="container form-horizontal">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <form method="post" ng-submit="changePassword()">
                                    Old Password<input type="password" name="old_password" ng-model="adminData.old_password" class="form-control"><br/>
                                    New Password<input type="password" name="new_password" ng-model="adminData.new_password" class="form-control"><br/>
                                    Confirm New Password<input type="password" name="conf_password" class="form-control"><br/>
                                    <button type="submit" id="submitChangesBtn" class="btn btn-danger">Confirm</button>
                                </form>
                            </div>
                        </div> 
                    </div>                    
                </div>
              </div>
            </div>
            <script>
             
                $('#submitChangesBtn').click(function(){ $('#accountSettings').modal('hide'); });
            </script>
        </div>

        <!--Modal that contains the form to select classes that instructor teaches-->
        <div class="modal fade" id="instructorChoices" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title text-center" id="myModalLabel">Select Classes</h4>
                </div>
                <div class="modal-body">
                  <div class="table-responsive pre-scrollable">
                    <form ng-submit="selectInstructorClasses()">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Class code</th>
                              <th>Class name</th>
                              <th></th>
                              <th></th>
                            </tr>   
                          </thead>
                          <tbody>
                            <tr ng-repeat="class in classes">
                                <td>{{class.class_code}}</td>
                                <td>{{class.class_name}}</td>
                                <td><input type="checkbox" ng-model="class.selected"/></td>
                                <td><input type="hidden" value="{{class._id}}" /></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="text-center">
                            <button type="submit" id="submitChoices" class="btn btn-sm btn-success">Submit</button> 
                        </div>
                    </form>
                  </div>               
                </div>
              </div>
            </div>
            <script>
                $('#submitChoices').click(function(){ $('#instructorChoices').modal('hide'); });
            </script>
        </div>


        <!--Modal that displays the classes to remove-->
        <div class="modal fade" id="instructorRemoveClasses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title text-center" id="myModalLabel">Select Classes</h4>
                </div>
                <div class="modal-body">
                  <div class="table-responsive pre-scrollable">
                    <form ng-submit="removeClasses()">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Class code</th>
                              <th>Class name</th>
                              <th></th>
                              <th></th>
                            </tr>   
                          </thead>
                          <tbody>
                            <tr ng-repeat="class in classes_taught">
                                <td>{{class.class_code}}</td>
                                <td>{{class.class_name}}</td>
                                <td><input type="checkbox" ng-model="class.selected"/></td>
                                <td><input type="hidden" value="{{class._id}}" /></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="text-center">
                            <button type="submit" id="removeClasses" class="btn btn-sm btn-danger">Remove</button> 
                        </div>
                    </form>
                  </div>               
                </div>
              </div>
            </div>
            <script>
                $('#removeClasses').click(function(){ $('#instructorRemoveClasses').modal('hide'); });
            </script>
        </div>